body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(99, 49, 49);
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: darkblue !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.pilt {
    border: 5px solid black;
    box-shadow: 5px 5px 15px grey;
}